{% extends 'index.html' %}

{% block head %}
<HTML>
<HEAD>
    <link href="style.css" rel="stylesheet"type="text/css">

<style>
body {
  background-image: url('CLOUD.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<title>Signin Page</title>
{% endblock %}

{% block body %}
    <BODY>
<div class="topnav">

    <a href="#home">HOME</a>



    <div class="topnav-right">

        <a href="#contact">Contact</a>

    </div>
</div>
</BODY>

<h1>LOGIN PAGE</h1>


        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required><BR><BR>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required><BR><BR>
        <a href="open page.html">
            <button type=<"submit">Login</button><BR>

    </div>
</form>
        </a>
</HEAD>
</HTML>

{% endblock %}
